.about {
  &__container {
    padding-top: 118px;
    padding-bottom: 75px;
  }
  // slider $md
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
// slides $md
.article-about {
  position: relative;

  &__icon-inner {
    position: absolute;
    top: -85px;
    left: -6px;
    width: 70px;
    height: 70px;
    background-color: var(--color-white);
    border-radius: 100%;
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    background-color: var(--color-tundora);
    border-radius: 100%;
    transition: all 0.2s ease 0s;

    @media (max-width: $md) {
      background-color: var(--color-dodger-blue);
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    padding-bottom: 22px;

    @media (min-width: $md) {
      &:hover ~ .article-about__icon-inner .article-about__icon {
        background-color: var(--color-dodger-blue);
      }

      &:hover::after {
        background-color: var(--color-dodger-blue);
      }
    }
  }
}

.about__item {
  width: 370px;
  padding: 50px 32px 22px;
  // margin-bottom: 4px;
  background-color: var(--color-wild-sand);
}
