.about {
  &__container {
    padding: 118px 20px 75px;

    @media (max-width: $md) {
      padding: 65px 20px 50px;
    }
  }

  &__list {
    gap: 30px;
    justify-content: center;
  }
}

.item-about {
  position: relative;
  width: 370px;
  padding: 50px 32px 22px;
  cursor: default;
  background-color: var(--color-wild-sand);

  @media (max-width: $sm) {
    width: 320px;
    background-color: #fff;
  }

  &__icon-inner {
    position: absolute;
    top: -35px;
    left: 30px;
    width: 70px;
    height: 70px;
    background-color: var(--color-white);
    border-radius: 100%;
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    background-color: var(--color-tundora);
    border-radius: 100%;
    transition: background-color 0.2s ease 0s;

    @media (max-width: $md) {
      background-color: var(--color-dodger-blue);
    }
  }

  &__title {
    display: inline-block;
    padding-bottom: 22px;
  }

  @media (hover: hover) {
    &:hover .item-about__icon-inner .item-about__icon {
      background-color: var(--color-dodger-blue);
    }

    &:hover .item-about__title::after {
      background-color: var(--color-dodger-blue);
    }
  }
}
