.intro {
  height: calc(100vh - 63px);
  background: url('../img/intro.jpg') center no-repeat;
  background-color: var(--color-gray);
  background-size: cover;
  transition: height 0.3s ease 0s;

  @media (max-width: 1412px) {
    height: 650px;
  }

  @media (max-width: $md) {
    height: 500px;
  }

  @media (max-width: $sm) {
    height: 400px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0 9%;

    @media (max-width: $sm) {
      justify-content: center;
      padding: 0;
    }
  }

  &__title {
    max-width: 640px;
    margin-bottom: 12px;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 5.5rem;
    color: var(--color-white);
    text-align: right;
    text-shadow: 1px 1px 1px rgb(50, 50, 50);
    transition: all 0.2s ease 0s;

    @media (max-width: 1412px) {
      max-width: 481px;
      font-size: 3.43rem;
      line-height: 4.28rem;
    }

    @media (max-width: $md) {
      max-width: 370px;
      font-size: 2.6rem;
    }

    @media (max-width: $sm) {
      max-width: 310px;
      margin-right: 0;
      margin-left: auto;
      font-size: 2.2rem;
    }
  }

  &__title-mercury {
    color: var(--color-mercury);
  }

  &__title-alabaster {
    color: var(--color-alabaster);
  }

  &__title-blue {
    color: var(--color-dodger-blue);
  }

  &__button-inner {
    text-align: right;
  }

  button {
    font-family: 'OpenSans', sans-serif;
  }

  &__button-left {
    padding: 0 35px;
    margin-right: 17px;
    line-height: 4.28rem;
    background-color: var(--color-alabaster);

    @media (min-width: $md) {
      &:hover {
        color: var(--color-white);
        background-color: var(--color-dodger-blue);
      }
    }
  }

  &__button-right {
    padding: 0 35px;
    line-height: 4.28rem;
    color: var(--color-white);
    background-color: var(--color-tundora);

    @media (min-width: $md) {
      &:hover {
        color: var(--color-white);
        background-color: var(--color-dodger-blue);
      }
    }
  }
}
