.partners {
  &__container {
    padding: 56px 20px 78px;

    @media (max-width: $md) {
      padding: 40px 20px 60px;
    }
  }

  &__list {
    gap: 30px;
    justify-content: center;
    margin-top: 42px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 115px;
    background-color: var(--color-wild-sand);

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 1px 4px rgba(50, 50, 50, 0.3);
      }
    }
  }
}
