.price {
  &__container {
    padding: 65px 20px 95px;

    @media (max-width: $xl + 45px) {
      max-width: $md;
    }

    @media (max-width: $md) {
      padding: 40px 40px 47px;
    }

    @media (max-width: $sm) {
      padding: 40px 20px 38px;
    }
  }

  &__list {
    @media (max-width: $md) {
      position: relative;
      overflow: hidden;
    }

    @media (max-width: 629px) {
      max-width: 270px;
      margin: 0 auto;
    }
  }

  &__swiper-wrapper {
    @media (min-width: $md) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      margin-top: 63px;
    }

    @media (max-width: $md) {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    @media (max-width: $sm) {
      margin-bottom: 38px;
    }
  }

  &__pagination {
    display: none;

    @media (max-width: $md) {
      display: flex;
      justify-content: center;
    }
  }
}

.card-price {
  position: relative;
  width: 270px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &__title {
    font-family: 'NotoSans', sans-serif;
    font-size: 1.28rem;
    line-height: 3.57rem;
    color: var(--color-white);
    text-shadow: 1px 1px 1px rgb(124, 124, 124);
    background-color: var(--color-mercury);
    transition: color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;

    &--1 {
      @media (max-width: $md) {
        color: var(--color-dove-gray);
        text-shadow: none;
        background-color: var(--color-mercury);
      }
    }

    &--2 {
      text-shadow: 1px 1px 2px rgb(100, 100, 100);
      background-color: var(--color-silver-chalice);
    }

    &--3 {
      text-shadow: 1px 1px 2px rgb(100, 100, 100);
      background-color: var(--color-gray);
    }

    &--4 {
      text-shadow: 1px 1px 2px rgb(50, 50, 50);
      background-color: var(--color-dove-gray);

      @media (max-width: $md) {
        color: var(--color-white);
        background-color: var(--color-dove-gray);
      }
    }
  }

  &__item {
    line-height: 40px;
    background-color: var(--color-alabaster);

    &:nth-child(2) {
      line-height: 64px;
    }

    &:nth-child(2n) {
      background-color: var(--color-wild-sand);
    }

    span {
      padding-left: 5px;
      font-family: 'NotoSans', sans-serif;
      font-size: 2.14rem;
      font-weight: 700;
    }
  }

  &__item-bottom {
    font-family: 'NotoSans', sans-serif;
    font-size: 18px;
    line-height: 50px;
    text-transform: inherit;
    background-color: var(--color-mercury);
    transition: background-color 0.2s ease 0s;

    @media (max-width: $md) {
      color: var(--color-white);
      background-color: var(--color-dodger-blue);
    }
  }

  @media (min-width: $md) {
    &:hover .card-price__title {
      color: var(--color-dodger-blue);
      text-shadow: none;
      background-color: var(--color-mercury);
    }

    &:hover .card-price__item-bottom {
      color: var(--color-white);
      background-color: var(--color-dodger-blue);
    }
  }
}
