.what {
  &__container {
    padding: 63px 20px 88px;

    @media (max-width: $md) {
      padding: 40px 30px 50px;
    }

    @media (max-width: $sm) {
      padding: 40px 20px 50px;
    }
  }

  &__title-inner {
    text-align: center;
  }

  &__slider {
    @media (max-width: $md) {
      position: relative;
      overflow: hidden;
    }

    @media (max-width: 629px) {
      max-width: 402px;
      margin: 0 auto;
    }
  }

  &__list {
    @media (min-width: $md) {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: center;
      margin-top: 65px;
    }
  }

  &__pagination {
    display: none;

    @media (max-width: $md) {
      display: flex;
      justify-content: center;
      margin-top: -17px;
    }

    @media (max-width: $md) {
      display: flex;
      justify-content: center;
      margin-top: -20px;
    }
  }
}

.item-what {
  position: relative;
  width: 274px;

  @media (hover: hover) {
    &:hover .item-what__icon-inner {
      background-color: var(--color-dodger-blue);
    }
  }

  @media (max-width: $md) {
    margin-top: 38px;
    margin-bottom: 70px;
    text-align: center;
  }

  &__title {
    display: inline-block;
    margin: 13px 0 15px 6px;
    line-height: 24px;
  }

  &__icon-inner {
    display: inline-block;
    width: 43px;
    height: 43px;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
    background-color: var(--color-tundora);
    border-radius: 100%;
    transition: background-color 0.3s ease 0s;

    @media (max-width: $md) {
      left: 10px;
      background-color: var(--color-dodger-blue);
    }
  }
}
