.work {
  background-image: url('../img/work-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    padding: 84px 20px;

    @media (max-width: $md) {
      padding: 40px 20px;
    }

    @media (max-width: $sm) {
      padding: 0;
    }
  }

  &__center {
    max-width: 870px;
    padding: 35px 40px 44px;
    background-color: rgba(255, 255, 255, 0.9);

    @media (max-width: $sm) {
      padding: 35px 20px 44px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'NotoSans', sans-serif;
    font-size: 1.71rem;
    font-weight: 700;
    line-height: 2.57rem;
    color: var(--color-dove-gray);
    text-transform: uppercase;
  }

  &__list {
    gap: 30px;
    justify-content: center;
    margin-top: 28px;
  }
}

.work-item {
  display: flex;
  gap: 12px;
  width: 243px;

  &__icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    font-size: 21px;
    line-height: 35px;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 1px 1px 2px rgb(190, 190, 190);

    .fa {
      color: var(--color-tundora);
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 5px;
  }
}
