* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

a {
  color: var(--color-gray);
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.fa {
  color: var(--color-white);
}

body {
  width: 100%;
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--color-gray);
  background-color: var(--color-white);
}

.visually-hidden {
  @include visually-hidden;
}

._container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

._btn--reset {
  cursor: pointer;
  background: transparent;
  border: none;
  transition: all 0.2s ease 0s;
}

._mid-font {
  font-family: "NotoSans", sans-serif;
  font-size: 1.28rem;
  font-weight: 700;
  color: var(--color-dove-gray);
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

._white-font {
  position: relative;
  font-size: 1.71rem;
  font-weight: 700;
  line-height: 2.57rem;
  color: var(--color-white);
  text-shadow: 1px 1px 1px rgb(144, 144, 144);
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

._blue-title {
  font-family: "NotoSans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
  color: var(--color-dodger-blue);
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 0;
    left: -28px;
    content: url('../img/logo-small.png');
  }
}

._line {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    right: -10px;
    width: 50px;
    height: 3px;
    content: "";
    box-shadow: 1px 1px 2px rgb(213, 213, 213);
    transition: background-color 0.3s ease 0s;
  }
}

._line-wh {
  &::after {
    top: 28px;
    background-color: var(--color-white);

    @media (max-width: $md) {
      background-color: var(--color-dodger-blue);
    }
  }
}

._line-bl-2 {
  &::after {
    top: 38px;
    background-color: var(--color-dodger-blue);
  }
}

._line-gr {
  &::after {
    top: 49px;
    background-color: var(--color-silver-chalice);
  }
}

._line-bl-3 {
  &::after {
    top: 28px;
    background-color: var(--color-dodger-blue);
    box-shadow: 1px 1px 2px rgb(40, 40, 40);
  }
}

._cntr {
  @media (max-width: $md) {
    text-align: center;
  }
}
