:root {
  // COLORS
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #909090;
  --color-alabaster: #f9f9f9;
  --color-wild-sand: #f4f4f4;
  --color-alto: #d5d5d5;
  --color-dove-gray: #6e6e6e;
  --color-dodger-blue: #3aa3fb;
  --color-mercury: #e3e3e3;
  --color-tundora: #4d4d4d;
  --color-silver-chalice: #aeaeae;
  --color-light-gray: #ececec;
}
// BREAKPOINTS
$xl: 1182px;
$lg: 992px;
$md: 768.9px;
$sm: 480px;
